header {
    font-family: 'jersey';
    text-align: center;
    color: $cool_yellow;
    padding-bottom: 2em;

    h1 {
        font-size: 5em;
        text-shadow: 5px 5px 10px $chill_orange;
    }

    p {
        text-shadow: 2px 2px 10px $chill_orange;
        padding-bottom: 1em;
    }

    #nav-visible {
        ul {

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                background-color: $cool_yellow;
                padding: 1em;
                border-bottom: solid 2px $chill_orange;
                border-right: solid 2px $chill_orange;
                border-radius: 5px;
                text-align: center;
                font-size: 15px;
                width: 25%;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    @media #{$medium} {
        font-size: 1.5em;

        ul {
            li {
                a {
                    font-size: 1.5em; 
                }
            }
        }
    }
}