/* DEFAULT FONT */
@font-face {
  font-family: "geologica";
  src: url("../font/geologica/static/Geologica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geologica";
  src: url("../font/geologica/static/Geologica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* TITLE FONT */
@font-face {
  font-family: "jersey";
  src: url("../font/Jersey_25/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* RESPONSIVE */
/* FRONT IMPORT */
header {
  font-family: "jersey";
  text-align: center;
  color: #E9C46A;
  padding-bottom: 2em;
}
header h1 {
  font-size: 5em;
  text-shadow: 5px 5px 10px #F4A261;
}
header p {
  text-shadow: 2px 2px 10px #F4A261;
  padding-bottom: 1em;
}
header #nav-visible ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header #nav-visible ul li {
  width: auto;
}
header #nav-visible ul li button {
  background-color: #E9C46A;
  padding: 1em;
  border: none;
  border-bottom: solid 2px #F4A261;
  border-right: solid 2px #F4A261;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: "jersey";
  cursor: pointer;
  padding: 1em;
}
header #nav-visible ul li button:hover {
  animation: hover-animation 0.3s ease;
}
header #nav-visible ul li button:active {
  background-color: #F4A261;
  border-bottom: solid 2px #E9C46A;
  border-right: solid 2px #E9C46A;
}
@media only screen and (min-width: 768px) {
  header #nav-visible ul li button {
    font-size: 1.5em;
    padding: 1em 2em 1em 2em;
  }
}

main {
  color: white;
  width: 80%;
  margin: auto;
}
main .section {
  margin-top: 1em;
  padding: 1em;
  background-color: #2A9D8F;
  border-bottom: solid 2px #264653;
  border-right: solid 2px #264653;
  border-radius: 5px;
}
main .section h2 {
  text-align: center;
  font-family: "jersey";
  font-weight: bold;
  text-shadow: 2px 2px #264653;
  font-size: 2em;
  padding-bottom: 1em;
}
main .presentation article h3 {
  font-family: "jersey";
  font-size: 1.5em;
  text-shadow: 2px 2px #264653;
}
main .presentation article p {
  padding: 1em 0em;
}
main .presentation article button {
  background-color: #E9C46A;
  padding: 1em;
  border: none;
  border-bottom: solid 2px #F4A261;
  border-right: solid 2px #F4A261;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}
main .presentation article button a {
  text-decoration: none;
  color: white;
  text-shadow: #F4A261;
  font-family: "jersey";
  font-size: 15px;
}
main .presentation article button:hover {
  animation: hover-animation 0.3s ease;
}
main .presentation article button:active {
  background-color: #F4A261;
  border-bottom: solid 2px #E9C46A;
  border-right: solid 2px #E9C46A;
}
main #tab-formations h3 {
  font-family: "jersey";
  font-size: 1.5em;
  text-shadow: 2px 2px #264653;
}
main #tab-formations p {
  padding: 1em 0em;
}
main #tab-formations .work {
  list-style: square;
  background-color: #1e6d64;
  border-bottom: solid 2px #3b6474;
  border-right: solid 2px #3b6474;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  margin-bottom: 1em;
}
main #tab-formations .work li {
  padding: 0.5em 0;
}
main #project h3 {
  font-family: "jersey";
  font-size: 1.5em;
  text-shadow: 2px 2px #264653;
}
main #project p {
  padding: 1em 0em;
}
main #ressources p {
  padding: 1em 0em;
}
main #ressources ul {
  list-style: square;
  background-color: #1e6d64;
  border-bottom: solid 2px #3b6474;
  border-right: solid 2px #3b6474;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  margin-bottom: 1em;
}
main #ressources ul li {
  padding: 0.5em 0;
}

@media only screen and (min-width: 768px) {
  main {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1200px) {
  p {
    font-size: 1em;
  }
}
footer #bottom-mountain {
  position: fixed;
  bottom: -120px;
  left: 0%;
  z-index: 2;
}
footer #spacer {
  height: 20vh;
}
footer .bottom-plains {
  display: none;
}
footer .bottom-flowers {
  display: none;
}
@media only screen and (min-width: 768px) {
  footer .bottom-plains {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0%;
    z-index: 2;
  }
  footer #bottom-mountain {
    position: fixed;
    bottom: -3%;
    left: 0%;
  }
  footer .bottom-flowers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0%;
    z-index: 3;
  }
  footer #spacer {
    height: 20vh;
  }
}

html {
  font-family: geologica;
  background-image: url("../img/background/1.png");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hover-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */