@import "_colors";
@import "_fonts";
@import "_varsImg";

/* RESPONSIVE */

@import "_responsive";

/* FRONT IMPORT */

@import "_header";
@import "_main";
@import "_footer";


html {
    font-family: geologica;
    background-image: $sky;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
